
body {
font-family: Arial, sans-serif;
background-color: white;
margin: 0;
}

.wrapper {
max-width: 1100px;
margin: 15px auto;
}

.container-calendar {
background: #B0C4DE 
paddin 15px;
max-width: 900px;
margin: 0 auto;
overflow: auto;
box-shadow: 0 4px 8px 0 #F5F5dc  (0, 0, 0, 0.2);
display: flex;
justify-content: space-between;
}
#event-section {
padding: 10px;
background: #f5f5f5;
margin: 20px 0;
border: 1px solid #FFFACD;
}

.container-calendar #left h1 {
color: #ADD8E6 ;
text-align: center;
background-color: #f2f2f2;
margin: 0;
padding: 10px 0;
}

#event-section h3 {
color: #ADD8E6;
font-size: 18px;
margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
margin: 10px 0;
padding: 5px;
width: 80%;
}

#event-section button {
background: #ADD8E6;
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
}

.event-marker {
position: relative;
}

.event-marker::after {
content: '';
display: block;
width: 6px;
height: 6px;
background-color: #b56642
border-radius: 50%;
position: absolute;
bottom: 0;
left: 0;
}

.event-tooltip {
position: absolute;
background-color: rgba(234, 232, 232, 0.763);
color: black;
padding: 10px;
border-radius: 4px;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: none;
transition: all 0.3s;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.event-marker:hover .event-tooltip {
display: block;
}

#reminder-section {
padding: 10px;
background: #f5f5f5;
margin: 20px 0;
border: 1px solid #FFFACD;
}

#reminder-section h3 {
color: #ADD8E6;
font-size: 18px;
margin: 0;
}

#reminderList {
list-style: none;
padding: 0;
}

#reminderList li {
margin: 5px 0;
font-size: 16px;
}

.delete-event {
background: rgb(237, 19, 19);
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
margin-left: 10px;
align-items: right;
}

.button-container-calendar button {
cursor: pointer;
background: #ADD8E6;
color: #fff;
border: 1px solid #FFFACD;
border-radius: 4px;
padding: 5px 10px;
}

.table-calendar {
border-collapse: collapse;
width: 100%;
}

.table-calendar td,
.table-calendar th {
padding: 5px;
border: 1px solid #FFFACD;
text-align: center;
vertical-align: top;
}

.date-picker.selected {
background-color: #f2f2f2;
font-weight: bold;
outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
border-bottom: 2px solid currentColor;
}

.date-picker:nth-child(1) {
color: #b56642;

}

.date-picker:nth-child(6) {
color: #ADD8E6;
}

.date-picker:hover {
background-color: #ADD8E6;
color: white;
cursor: pointer;
}

#monthAndYear {
text-align: center;
margin-top: 0;
}

.button-container-calendar {
position: relative;
margin-bottom: 1em;
overflow: hidden;
clear: both;
}

#previous {
float: left;
}

#next {
float: right;
}

.footer-container-calendar {
margin-top: 1em;
border-top: 1px solid #dadada;
padding: 10px 0;
}

.footer-container-calendar select {
cursor: pointer;
background: #ffffff;
color: #585858;
border: 1px solid #FFFACD
border-radius: 3px;
padding: 5px 1em;

}